*{
    margin: 0;
    padding: 0;
}

.heading{
    margin: 90px;
    padding-left: 145px;
}
.heading .heading1{
    padding-bottom: 20px;
}
.heading .heading1 h2{
    color: #f03d63;
    margin-bottom: 10px;
}
.description{
    display: flex;
}
.description .heading2 h1{
    width: 24vw;
}
.description2{
    display: flex;
    align-items: center;

}
.description2 p{
    width: 31vw;
}
.service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.service-card {
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    transition: transform 0.3s;
}

.service-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dots-container {
    display: flex;
    justify-content: flex-start;
    gap: 30px; /* Set gap to four times the dot's width */
    position: absolute;
    top: calc(100% + 30px); /* Move down a bit more */
    left: calc(3 * 10px + 2 * 80px + 80px); /* Move to the right a bit more */
}

.dots-container .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
}

.dots-container .dot.active {
    background-color: #f03d63;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card.web-development {
    background-color: #f03d63;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.service-card.web-development img {
    display: none;
}

.service-card .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.service-card .overlay h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.service-card .overlay p {
    font-size: 14px;
    margin-bottom: 20px;
}

.service-card .overlay .read-more {
    display: inline-block;
    padding: 10px 10px;
    background-color: #fff;
    color: #f03d63;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    /* display: flex;
    align-items: center; */
}
.read-more img{
    color: black;
}
.service-card .overlay .read-more::after {
    content: ' → ';
    position: absolute;
    right: -20px; /* Adjust space between text and arrow */
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #f03d63;
}

.service-card .overlay .read-more:hover {
    background-color: #ff7b93;
}